*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Whitney-Semibold', sans-serif;
}

.dimension{
  margin-bottom: 200px;
  padding: 50px 0;
}

header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: rgb(49, 97, 224);
}

.container{
  width: 90%;
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
.relative{
  position: relative;
}

img{
  vertical-align: middle;
}

header .main-nav li{
  display: inline-block;
}

header .main-nav li a{
  text-decoration: none;
  color: white;
  padding-right: 35px;
}

header .main-nav li:last-of-type a{
  padding-right: 0;
}

.logo{
  width: 25%;
}

.login{
  text-align: right;
  width: 25%;
}

button{
  border-radius: 25px;
  border: none;
  padding: 8px 12px;
}

.main-nav{
  text-align: center;
  width: 50%;
}

/* INIZIO JUMBOTRON */

#jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  height: 600px;
  width: 100vw;
  color: white;   
}

.text-size{
  font-size: 1.5rem;
}

#jumbotron .jumbo-text{
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-size h1{
  margin-bottom: 30px;
}

#jumbotron .jumbo-text p{
  margin-bottom: 20px;
}

#jumbotron .jumbo-text div{
  margin-right: 15px;
}

.jumbo-text button{
  font-size: 20px;
  margin-right: 15px;
}

button:nth-of-type(2){
  color: white;
  background-color: black;
}

/* inizio sezioni */

section:nth-child(2n+2){
  background-color: lightgrey;
}

.img-section{
  width: 60%;
}

.text-section{
  width: 40%;
  padding: 40px;
}
.last-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
} 

.last-text{
  padding-top: 70px;
  text-align: center;
}

.last-text:last-child{
  background-image: url(../img/stars.svg);
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

.last-text button{
  font-size: 20px;
  color: white;
  background-color: rgb(142, 161, 225);
}

/* inizio footer */

footer{
  background-color: rgb(35, 39, 42);
  padding: 50px;
}

.place,.footer-list{
  margin-left: 20px;
  color: white;
  display: inline-block;
}

.violet{
  color: rgb(114, 137, 218);
}
.place p{
  margin: 10px 0;
}
.place p img{
  height: 20px;
}

.footer-list nav ul li a{
  text-decoration: none;
  color: white;
}

.footer-list li:first-of-type a{
  color: rgb(114, 137, 218);
} 

.footer-list nav ul li{  
  list-style: none;
  margin: 10px 40px;
}

#border-footer{
  border-bottom: 2px solid rgb(114, 137, 218);;
}

.bottom-footer{
  margin-top: 30px;
}

.place p i{
  margin-left: 10px;
}